@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
.light {
  --background: #ffffff;
  --foreground: #000000;
  --card-background: #ffffff; /* White Card */
  --card-border: #d1d5db; /* Gray Border */
}

/* Dark Theme */
.dark {
  --background: #111827;
  --foreground: #f3f4f6;
  --card-background: #1f2937;
  --card-border: #374151;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

html:not([class]) {
  /* Default to dark mode */
  background-color: #111827;
  color: #f3f4f6;
}
